# math
snippet ma  \(\)
	\\(${1:inside}\) ${0:${VISUAL}}

snippet integral Custom: \int^{}_{}
	\\int^{${1:n}}_{${2:i=1}} ${0}

snippet ref  \ref{} - Custom
	\\ref{${1:inside}} ${0:${VISUAL}}

snippet cite  \cite{} - Custom
	\\cite{${1:inside}} ${0:${VISUAL}}

snippet article ["Custom"] b
	\documentclass{article}
	\usepackage[utf8]{inputenc}
	\usepackage{graphicx}
	\usepackage{amsmath}

	\title{${1:Title}}
	\author{Erik Ekstedt}
	\date{}

	\begin{document}

	${0}
	\end{document}
