priority 999

snippet bash "Bash Codeblock" b
\`\`\`bash
$1
\`\`\`
$0
endsnippet

snippet python "Python Codeblock" b
\`\`\`python
$1
\`\`\`
$0
endsnippet

snippet javascr "javascript Codeblock" b
\`\`\`javascript
$1
\`\`\`
$0
endsnippet

snippet mlink "Markdown Link to something"
[${1:${VISUAL:Text}}](${3:http://${2:www.url.com}})$0
endsnippet
# vim:ft=snippets:
