/* tab top border roundness */
#TabsToolbar .tabbrowser-tab,
#TabsToolbar .tabbrowser-tab .tab-stack,
#TabsToolbar .tabbrowser-tab .tab-background,
#TabsToolbar .tabbrowser-tab .tab-content {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}

/* remove colored line above each tab */
#TabsToolbar .tabbrowser-tab .tab-line {
  visibility: hidden;
}
