[Desktop Entry]
Name=Center Current Window
Comment=Center the current window on the screen.
Icon=preferences-system-windows-script-test

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js

X-KDE-PluginInfo-Author=carmanaught
X-KDE-PluginInfo-Name=centerwindow
X-KDE-PluginInfo-Version=1.1 

X-KDE-ServiceTypes=KWin/Script
Type=Service
